

<h3 ng-if="advert.id">Gestion d'une annonce</h3>
<h3 ng-if="!advert.id">Création d'une annonce</h3>

<fieldset class="form-group" ng-disabled="!advert.id">
    <button type="button" ng-click="toggleFavorite()"
            ng-class="{true:'btn btn-success', false:'btn btn-warning'}[!advert.is_favorite]" 
            title="{{{true: '', false: 'Enregistrez l\'annonce pour pouvoir la marquer comme coup de coeur.'}[advert.id !== undefined]}}">
        <span ng-if="!advert.is_favorite" >
            <i class="fa fa-heart"></i> Marquer comme coup de coeur
        </span>
        <span ng-if="advert.is_favorite" >
            <i class="fa fa-times-circle"></i> Retirer le coup de coeur
        </span>
    </button>
    <button class="btn btn-primary pull-right" ng-click="gestionPhotos()"
     title="{{{true: '', false: 'Enregistrez l\'annonce pour pouvoir gérer les photos rattachées.'}[advert.id !== undefined]}}">
        <i class="fa fa-camera"></i> Gérer les photos
    </button>
</fieldset>

<form class="form-horizontal" ng-submit="save()">
    <div class="row">
        <!-- Général -->
        <div class="col-md-4">
            <div class="form-group">
                <label class="col-sm-4">Numéro annonce</label>
                <div class="col-sm-8">
                    <input class="form-control" type="number" ng-model="advert.id" readonly />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4" for="advert_type">Type d'annonce</label>
                <div class="col-sm-8">
                    <select class="form-control" id="advert_type" ng-model="advert.advert_type">
                        <option value="V">Vente</option>
                        <option value="L">Location</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4" for="property_type">Type de bien</label>
                <div class="col-sm-8">
                    <select class="form-control" id="property_type" ng-model="advert.property_type">
                        <option ng-repeat="type in property_types" value="{{type.label}}">{{type.label}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4" for="address">Adresse</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" id="address" ng-model="advert.address" required />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4" for="postal_code">CP</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" id="postal_code" ng-model="advert.postal_code" required />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4" for="city">Ville</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" id="city" ng-model="advert.city" required />
                </div>
            </div>
        </div>
        <!-- Etat du bien, configuration, détails -->
        <div class="col-md-4">
            <div class="form-group">
                <label class="col-sm-4" for="price">
                    <span ng-if="advert.advert_type == 'V'">Prix</span>
                    <span ng-if="advert.advert_type == 'L'">Loyer</span>
                </label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input class="form-control" type="number" id="price" ng-model="advert.price" required />
                        <div class="input-group-addon">€</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4" for="state">Etat du bien</label>
                <div class="col-sm-8">
                    <select class="form-control" id="state" ng-model="advert.state">
                        <option value="L">Libre</option>
                        <option value="O">Occupé</option>
                        <option value="A">En attente</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4" for="nb_floors">Etages</label>
                <div class="col-sm-8">
                    <input class="form-control" type="number" id="nb_floors" ng-model="advert.nb_floors" required />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4" for="nb_rooms">Nb pièces</label>
                <div class="col-sm-8">
                    <input class="form-control" type="number" id="nb_rooms" ng-model="advert.nb_rooms" required />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4" for="living_surface">Surface habitable</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input class="form-control" type="number" id="living_surface" ng-model="advert.living_surface" required />
                        <div class="input-group-addon">m²</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4" for="total_surface">Surface totale</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input class="form-control" type="number" id="total_surface" ng-model="advert.total_surface" required />
                        <div class="input-group-addon">m²</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="col-sm-4" for="heating_type">Type de chauffage</label>
                <div class="col-sm-8">
                    <select class="form-control" id="heating_type" ng-model="advert.heating_type">
                        <option ng-repeat="type in heating_types" value="{{type.label}}">{{type.label}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4" for="kitchen_type">Type de cuisine</label>
                <div class="col-sm-8">
                    <select class="form-control" id="kitchen_type" ng-model="advert.kitchen_type">
                        <option ng-repeat="type in kitchen_types" value="{{type.label}}">{{type.label}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4" for="construction_year">Année de construction</label>
                <div class="col-sm-8">
                    <input class="form-control" type="number" id="construction_year" ng-model="advert.construction_year" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4" for="energy_consumption">Consommations énergétiques</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input class="form-control" type="number" id="energy_consumption" ng-model="advert.energy_consumption" />
                        <div class="input-group-addon">kWhEP/m²/an</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4" for="gas_emission">Emissions gaz</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input class="form-control" type="number" id="gas_emission" ng-model="advert.gas_emission" />
                        <div class="input-group-addon">kgeqCO2/m²/an</div>
                    </div>
                </div>
            </div>
            <!-- 
          (Pièces) 
          -->
        </div>
    </div>

    <!-- Titre, Description -->
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="title_fr">Titre affiché (français)</label>
                    <div>
                        <input class="form-control" type="text" id="title_fr" ng-model="advert.title_fr" required />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="description_fr">Description (français)</label>
                    <div>
                        <textarea class="form-control" id="description_fr" ng-model="advert.description_fr" required></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="title_en">Titre affiché (anglais)</label>
                    <div>
                        <input class="form-control" type="text" id="title_en" ng-model="advert.title_en" required />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="description_en">Description (anglais)</label>
                    <div>
                        <textarea class="form-control" id="description_en" ng-model="advert.description_en" required></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button class="btn btn-primary" type="submit"><i class="fa fa-check"></i> Enregistrer</button>

    <a class="btn btn-default" href="#!/annonces">
        <span ng-if="advert.id"><i class="fa fa-bars"></i> Retour à la liste</span>
        <span ng-if="!advert.id"><i class="fa fa-times"></i> Annuler</span>
    </a>
    
    <button ng-if="advert.id" type="button" class="pull-right btn btn-danger" ng-click="delete()"><i class="fa fa-times fa-lg"></i> Supprimer</button>

</form>