
<h3 ng-if="!selectmode">Liste des annonces</h3>
<h3 ng-if="selectmode">Définir le bien visité</h3>

<div class="row form-filter">
    <div class="col-md-3">
        <select class="form-control" ng-model="advertType" ng-change="refreshList()">
            <option value="">Ventes et locations</option>
            <option value="V">Biens en vente</option>
            <option value="L">Biens en location</option>
        </select>
    </div>
</div>

<form class="form-inline form-filter">
    <div class="form-group">
        <label for="filterType">Filtrer :</label>
        <select ng-model="filterType" id="filterType" class="form-control">
            <option ng-repeat="opt in filterOptions" value="{{opt.value}}">{{opt.label}}</option>
        </select>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="filterText" ng-model="filterText" placeholder="Recherche" />
    </div>
    <button class="btn btn-primary" ng-click="refreshList()">Filtrer</button>
    <button class="btn btn-default" ng-click="filterText = '';refreshList()">Effacer le filtre</button>
    
    <button class="btn btn-success pull-right" ng-click="newAdvert()" ng-if="!selectmode"><i class="fa fa-plus"></i> Nouvelle annonce</button>
</form>

<div ng-if="advertsList.length">
    <p>
        <i ng-if="!selectmode">Cliquez sur une ligne pour accéder au détail de l'annonce.</i>
        <i ng-if="selectmode">Cliquez sur une ligne pour sélectionner l'annonce.</i>
    </p>
    <div ng-if="selectmode">
        <button class="btn btn-danger" ng-click="clickAdvert('')"><i class="fa fa-times"></i> Annuler</button>
    </div>
    <table class="table table-hover advertslist">
        <thead>
            <tr>
                <th sortable="'id'" sort-params="sortparams">N°</th>
                <th sortable="'advert_type'" sort-params="sortparams" ng-if="advertType == ''">Type d'annonce</th>
                <th sortable="'property_type'" sort-params="sortparams">Type de bien</th>
                <th sortable="'state'" sort-params="sortparams">Etat</th>
                <th sortable="'nb_rooms'" sort-params="sortparams" class="hidden-xs text-right">Nb pièces</th>
                <th sortable="'total_surface'" sort-params="sortparams" class="hidden-xs text-right">Surface</th>
                <th sortable="'price'" sort-params="sortparams" class="text-right">
                    <span ng-if="advertType == ''">Prix/Loyer</span>
                    <span ng-if="advertType == 'V'">Prix</span>
                    <span ng-if="advertType == 'L'">Loyer</span>
                </th>
                <th></th>
                <th sortable="'postal_code'" sort-params="sortparams">CP</th>
                <th sortable="'city'" sort-params="sortparams">Ville</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="advert in advertsList" ng-click="clickAdvert(advert.id)">
                <td>{{advert.id}}</td>
                <td ng-if="advertType == ''">{{advert.advert_type == 'L' ? 'Location' : 'Vente'}}</td>
                <td>{{advert.property_type}}</td>
                <td>
                    {{advert.state == 'L' ? 'Libre' : advert.state == 'O' ? 'Occupé' : 'En attente'}}
                </td>
                <td class="hidden-xs text-right">{{advert.nb_rooms}}</td>
                <td class="hidden-xs text-right">{{advert.total_surface | number}} m²</td>
                <td class="text-right">{{advert.price | number}} €</td>
                <td></td>
                <td>{{advert.postal_code}}</td>
                <td>{{advert.city}}</td>
                <td><i ng-if="advert.is_favorite" title="Cette annonce est marquée comme coup de coeur"
                        class="fa fa-heart"></i></td>
            </tr>
        </tbody>
    </table>
</div>
<div ng-if="!advertsList.length" class="form-group">
    <i>Aucune annonce trouvée.</i>
</div>
