
<h3>Annonces coups de coeur</h3>

<p class="alert alert-info">Pour ajouter un coup de coeur, accédez directement à la fiche voulue depuis le menu 
    "gestion des annonces" et cliquez sur "marquer comme coup de coeur".</p>

<div ng-if="advertsList.length">
    <p><i>Cliquez sur une ligne pour accéder au détail de l'annonce.</i></p>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Numéro</th>
                <th>Type d'annonce</th>
                <th>Type de bien</th>
                <th>Nb pièces</th>
                <th>Surface</th>
                <th class="text-right">
                    Prix/loyer
                </th>
                <th></th>
                <th>CP</th>
                <th>Ville</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="advert in advertsList" ng-click="goToAdvert(advert)">
                <td>{{advert.id}}</td>
                <td>{{advert.advert_type == 'L' ? 'Location' : 'Vente'}}</td>
                <td>{{advert.property_type}}</td>
                <td>{{advert.nb_rooms}}</td>
                <td>{{advert.total_surface}}</td>
                <td class="text-right">{{advert.price}} €</td>
                <td></td>
                <td>{{advert.postal_code}}</td>
                <td>{{advert.city}}</td>
                <td><button class="btn btn-danger" title="Retirer le coup de coeur" ng-click="removeFavorite(advert)">Retirer le cdc</button></td>
            </tr>
        </tbody>
    </table>
</div>
<div ng-if="!advertsList.length" class="">
    <i>Aucune annonce n'est actuellement marquée comme coup de coeur.</i>
</div>