<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="text-center">Notre agence</h1>
            <hr>
        </div>
    </div>

    <div class="row row-margin-bottom">
        <div class="col-md-12 no-padding lib-item" data-category="view">
            <div class="lib-panel">
                <div class="row box-shadow">
                    <div class="col-md-3 col-xs-4 no-padding">
                        <img class="lib-img-show" src="http://lorempixel.com/450/450/business/">
                    </div>
                    <div class="col-md-9 col-xs-8">
                        <div class="lib-row lib-header">
                            <!--<h2 class="text-center" translate="NOS_VALEURS"></h2>-->
                            <hr>
                        </div>
                        <div class="lib-row">
                            <p ng-if="language == 'fr'" class="text-justify">{{texte_fr}}</p>
                            <p ng-if="language == 'en'" class="text-justify">{{texte_en}}</p>
                            <!--<p class="text-justify">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni iusto facilis, quaerat aliquid ducimus quae eos rem, temporibus
                                sit sint perspiciatis dolor? Ullam dolores iste voluptatibus amet, iusto culpa illo ipsum
                                hic, animi ducimus reiciendis id sapiente totam praesentium voluptates, accusantium. Modi
                                quidem voluptatum eos natus a, veniam dicta quos? Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Magni iusto facilis, quaerat aliquid ducimus quae eos rem, temporibus sit
                                sint perspiciatis dolor? Ullam dolores iste voluptatibus amet, iusto culpa illo ipsum hic,
                                animi ducimus reiciendis id sapiente totam praesentium voluptates, accusantium. Modi quidem
                                voluptatum eos natus a, veniam dicta quos? Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit. Magni iusto facilis, quaerat aliquid ducimus quae eos rem, temporibus sit sint perspiciatis
                                dolor? Ullam dolores iste voluptatibus amet, iusto culpa illo ipsum hic, animi ducimus reiciendis
                                id sapiente totam praesentium voluptates, accusantium. Modi quidem voluptatum eos natus a,
                                veniam dicta quos?
                            </p>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <meet-the-team></meet-the-team>
</div>