<div class="row">
    <div class="col-lg-12">
        <h1 class="text-center" translate="RECHERCHE_TITRE"></h1>
        <hr>
    </div>
</div>


<div class="container">

    <form name="search" class="well form-horizontal" ng-controller="searchController" ng-submit="searchProperty()" novalidate>

        <fieldset>

            <legend translate="RECHERCHE_DESCRIPTIF_ANNONCE"></legend>

            <div class="form-group">
                <div class="col-xs-2">
                    <label><input type="radio" value="V" ng-model="find.advert_type"> <span translate="GEN_LOCATION"></span></label>
                </div>
                <div class="col-xs-2">
                    <label><input type="radio" value="L" ng-model="find.advert_type"> <span translate="GEN_VENTE"></span></label>
                </div>
            </div>

            <legend translate="RECHERCHE_DESCRIPTIF_BIEN"></legend>

            <div class="form-group">
                <div class="col-xs-2">
                    <label><input type="checkbox" name="type-bien" value="appartement" ng-model="find.appartement"> <span translate="PROPERTY_TYPE_Appartement"></span></label>
                </div>
                <div class="col-xs-2">
                    <label><input type="checkbox" name="type-bien" value="maison" ng-model="find.maison"> <span translate="PROPERTY_TYPE_Maison"></span></label>
                </div>
                <div class="col-xs-2">
                    <label><input type="checkbox" name="type-bien" value="terrain" ng-model="find.terrain"> <span translate="PROPERTY_TYPE_Terrain"></span></label>
                </div>
                <div class="col-xs-2">
                    <label><input type="checkbox" name="type-bien" value="local" ng-model="find.local"> <span translate="PROPERTY_TYPE_Local"></span></label>
                </div>
                <div class="col-xs-2">
                    <label><input type="checkbox" name="type-bien" value="immeuble" ng-model="find.immeuble"> <span translate="PROPERTY_TYPE_Immeuble"></span></label>
                </div>
                <div class="col-xs-2">
                    <label><input type="checkbox" name="type-bien" value="divers" ng-model="find.divers"> <span translate="PROPERTY_TYPE_Divers"></span></label>
                </div>
            </div>

            <legend translate="GEN_DESCRIPTIF_NB_PIECES"></legend>

            <div class="form-group">
                <div class="col-xs-1">
                    <label><input type="checkbox" name="nb-pieces" ng-model="find.nbPieces1" value="location"> <span>1</span></label>
                </div>
                <div class="col-xs-1">
                    <label><input type="checkbox" name="nb-pieces" ng-model="find.nbPieces2" value="location"> <span>2</span></label>
                </div>
                <div class="col-xs-1">
                    <label><input type="checkbox" name="nb-pieces" ng-model="find.nbPieces3" value="location"> <span>3</span></label>
                </div>
                <div class="col-xs-1">
                    <label><input type="checkbox" name="nb-pieces" ng-model="find.nbPieces4" value="location"> <span>4</span></label>
                </div>
                <div class="col-xs-2">
                    <label><input type="checkbox" name="nb-pieces" ng-model="find.nbPieces5EtPlus" value="location"> <span translate="PROPERTY_TYPE_5_PIECES"></span>
                </div>
            </div>

            <legend translate="RECHERCHE_DESCRIPTIF_SURFACE"></legend>

            <div class="form-group">
                <div class="col-xs-3">
                    <div class="input-group">
                        <span class="input-group-addon">Min</span>
                        <input type="number" name="surface-terrain" ng-model="find.surfaceTerrainMin" min="0" class="form-control">
                        <span class="input-group-addon">m²</span>
                    </div>
                </div>

                <div class="col-xs-3">
                    <div class="input-group">
                        <span class="input-group-addon">Max</span>
                        <input type="number" name="surface-terrain" ng-model="find.surfaceTerrainMax" min="0" class="form-control">
                        <span class="input-group-addon">m²</span>
                    </div>
                </div>
            </div>

            <legend translate="RECHERCHE_DESCRIPTIF_BUDGET"></legend>

            <div class="form-group">
                <div class="col-xs-3">
                    <div class="input-group">
                        <span class="input-group-addon">Min</span>
                        <input type="number" name="budget" min="0" ng-model="find.budgetMin" class="form-control">
                        <span class="input-group-addon">€</span>
                    </div>
                </div>

                <div class="col-xs-3">
                    <div class="input-group">
                        <span class="input-group-addon">Max</span>
                        <input type="number" name="budget" min="0" ng-model="find.budgetMax" class="form-control">
                        <span class="input-group-addon">€</span>
                    </div>
                </div>
            </div>

            <legend translate="RECHERCHE_SOUSTITRE_GEOLOC"></legend>
            <div class="form-group">
                <div class="col-xs-3">
                    <h5 translate="RECHERCHE_DESCRIPTIF_GEOLOC"></h5>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-circle" aria-hidden="true"></i></span>
                        <input type="text" name="geoloc" ng-model="find.geoloc1" class="form-control" required>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-circle" aria-hidden="true"></i></span>
                        <input type="text" name="geoloc" ng-model="find.geoloc2" class="form-control" required>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-circle" aria-hidden="true"></i></span>
                        <input type="text" name="geoloc" ng-model="find.geoloc3" class="form-control" required>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-circle" aria-hidden="true"></i></span>
                        <input type="text" name="geoloc" ng-model="find.geoloc4" class="form-control" required>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-4 text-center">
                    <button type="submit" value="submit" class="btn btn-lg btn-success"><span translate="GEN_RECHERCHER"></span> <span class="fa fa-paper-plane" aria-hidden="true"></span></button>
                </div>
            </div>

        </fieldset>

    </form>
</div>