<div class="row">
    <div class="col-lg-12">
        <h1 class="text-center" translate="PRESENTATION_EQUIPE"></h1>
        <hr>
    </div>
</div>

<div class="team-members">
    <div class="row row-centered">
        <div class="col-lg-3 col-sm-6 col-centered">
            <img class="lib-img-show img-responsive" src="images/team_01.jpg">
            <h3 class="text-justify">Lorem ipsum.</h3>
            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, earum.</p>
        </div>
        <div class="col-lg-3 col-sm-6 col-centered">
            <img class="lib-img-show img-responsive" src="images/team_02.jpg">
            <h3 class="text-justify">Lorem ipsum.</h3>
            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, earum.</p>
        </div>
        <div class="col-lg-3 col-sm-6 col-centered">
            <img class="lib-img-show img-responsive" src="images/team_03.jpg">
            <h3 class="text-justify">Lorem ipsum.</h3>
            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, earum.</p>
        </div>
        <div class="col-lg-3 col-sm-6 col-centered">
            <img class="lib-img-show img-responsive" src="images/team_04.jpg">
            <h3 class="text-justify">Lorem ipsum.</h3>
            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, earum.</p>
        </div>
    </div>
</div>