
/* ------------------------ */
/* Side menu                */
/* ------------------------ */

.sidemenu {
    height: 100%; 
    width: 250px;
    position: fixed;
    z-index: 1; 
    top: 0;
    left: 0;
    /*background-color: #eee;*/
    overflow-x: hidden; /* Disable horizontal scroll */
}

#sidebar {
    height: 100%;
    margin-bottom: 0;
}

.sidemenu > ul > li {
    width: 100%;
    height: 30px;
    list-style: none;
}

.view {
    margin-left: 250px; /* sidemenu width */
    padding: 15px;
}

#loginpage {
    margin-left: -250px;
}


/* ------------------------ */
/* Elements                 */
/* ------------------------ */

.table > tbody > tr {
    cursor: pointer;
}

.form-horizontal .control-label {
    text-align: left;
}

textarea {
    max-width: 100%;
}

.form-filter {
    margin-bottom: 10px;
}

.advertslist .fa-heart {
    color: red;
}

.margintop {
    margin-top: 15px;
}

/* ------------------------ */
/* Sortable                 */
/* ------------------------ */
.sortable {
    cursor: pointer;
}
.sortable > i.fa {
    font-size:13px;
}

/* ------------------------ */
/* Photos                   */
/* ------------------------ */
.photo-select {
    width: 100%;
}

.photo-preview {
    max-height: 200px;
}

.photo-container {
    margin-bottom: 30px;
}

.photo-container img {
    width: 100%;
}
.photo-container .panel {
    padding: 5px;
}

.photo-container .row {
    margin-left: -5px;
    margin-right: -5px;
}
.photo-container .col-xs-3,
.photo-container .col-sm-3,
.photo-container .col-xs-12 {
    padding-left: 5px;
    padding-right: 5px;
}

.photo-container button,
.photo-container input {
    width: 100%;
    margin-bottom: 5px;
}